.Navbar nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;

  box-shadow: -1px 8px 0px -3px rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
}

nav img {
  max-width: 75%;
  height: auto;
}
